doctype
html(lang="fr")
   head
      meta(charset="utf-8")
      link(rel="stylesheet",href="css/normalize.min.css")
      link(rel="stylesheet",href="css/style.css")
   body
      div
         nav
            ul
               li apropos
               li article
               li nous joindre
         .menu-container
            img(src="img/papillon.jpg")
            nav
               ul
                  li apropos
                  li article
                  li nous joindre
