$mobile-screen: 690px
$tablet-screen: 995px
$desktop-screen: 1440px


$mobile: "only screen and (max-width:#{$mobile-screen}) and (orientation: portait)"
$mobile-landscape: "only screen and (max-width:#{$mobile-screen}) and (orientation: landscape)"

$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen}) and (orientation: portrait)"
$tablet-landscape: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen}) and (orientation: landscape)"


$desktop: "only screen and (min-width:#{$tablet-screen})"


$gray: #C8C8C8
$blue: #0080ff
$red: #ff0000
$yellow: #ffff00
$orange: #ff8000
$green: #00ff40

$page-background-color: $gray

$background-color: $blue
$title-color: $red

$link-color: $yellow
$link-color-hover: $orange
$background-color-hover: $green



html, body
   margin: 0
   font: 1em "Open Sans", sans-serif
   background: $page-background-color
   min-height: 5000px


/**

   .menu-container > nav a,form
      text-decoration: none
      color: $link-color
      display: block
      padding: 10px
      text-align: center

   .menu-container nav a:hover
      color: $link-color-hover
      background-color: $background-color-hover

   */

@import "logo.sass"
@import "menu.sass"
@import "header.sass"
